.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.row {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #f1f1f1;
  justify-content: space-around;
}

.symbolWrapper {
  display: flex;
  align-items: center;
  flex-basis: 150px;
}

.logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.symbol {
  font-weight: 600;
  font-size: 15px;
  margin-left: 7px;
}

.price {
  font-size: 15px;
  flex-basis: 120px;
}

.green {
  color: #0a8a33;
  flex-basis: 120px;
}

.red {
  flex-basis: 120px;
  color: #c00000;
}

.header {
  margin: 20px 0 10px;
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

.buy {
  flex-basis: 120px;
  color: #0a8a33;
  background: yellow;
  text-align: center;
}
